body {
    margin: 0;
    padding: 0;
}
.big {
    width: 100%;
    
    background-color: black;
    margin-top: 0;
;
}
.big .header {
    width: 100%;
    height: 20%;
    background-color:  #ff9900;
    justify-content: center;
    
    text-align: center;
    padding-top: 10px;

}
.big .header p {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}

.big .center {
    width: 99%;
    height: ;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding-left: 7px;

}
.big .center .first, .second, .third, .fourth, .fiveth {
    background-color:  #ffe6cc;
    height: ;
    width: 20%;
    margin: 25px 10px;
    
}
.big .center .first, .second, .third, .fourth, .fiveth p { 
    color:  #604020;
    font-size: 20px;
    text-align: justify;
}
.big .footer {
    width: 100%;
    height: 25%;
    background-color:  #ff9900;
    text-align: center;
    
}
.big .footer p {
    font-size: 3rem;
    color: white;

    

}
@media screen and (max-width: 900px){
    .center {
        flex-wrap: wrap;
    }
    .center .first {
        width: 45;
        height: fit-content;
    } 
    .center .second {
        width: 45%;
    }
    .center .third, .fourth {
        width: 45%;
    }
    .center .fiveth {
        width: 100%;
    }

}

@media screen and (max-width: 500px){
    .center {
        flex-wrap: wrap;
        justify-content: center;
         
    }

    .center .first, .second, .third, .fourth, .fiveth {
        width: 100%;
       
    }
}


