.todo {
    height: 600px;
    width: 350px;
    background-color: rgb(205, 169, 50);
    margin: auto;
}
.todo .header {
    height: 20%;
}
.todo .header #myinput {
    width: 80%;
    height: 100%;
    background-color: white;
    margin-top: 10px;
    margin-left: 15px;
}
.todo .header .addBtn {
    width: 15%;
    height: 80%;
    background-color: rgb(128, 0, 100);
    font-size: 60px;
    margin-top: 10px;
    cursor: pointer;
}
.todo .createDiv #myUL {
    height: 68%;
    background-color: wheat;
    width: 80%;
    margin-left: 15px;
}
.close {
    margin-left: 150px;
}

